* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url('assets/styles/library.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /* Animation */
    animation: fadeIn 2s ease forwards;
    opacity: 0;
    /* Start invisible */
}

.content {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;

    /* Animation */
    transform: translateY(30px);
    animation: slideUp 1.5s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.welcome-text {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.quote {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 30px;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 0 50px #45a049;
}

/* Keyframes */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}